html,body{
	box-sizing: border-box;
	margin:0 auto;
}
.top_container{
	background: #0000;
}
#whitewrapper{
	background: url(../img/17999432224217782291.gif) 50% 0% no-repeat;
}
.top_outer{
	background: #268ec1;
}
.top_section{
	display: grid;
	width: 1145px;
	margin: 0 auto;
	grid-template-columns: 0.7fr 1fr 1fr;
	padding: 10px;
	align-items: center;
}
.logo img{
	width: 65%;
	height: auto;
}
.top_menu{
	color: white;
}
.stream{
	
}
.stream ul li{
	display: inline;
	color: white;
	margin: 0 5px;
}

.top_menu ul li{
	display: inline;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	letter-spacing: 1px;
	margin-top: 3px;
	text-transform: uppercase;
}
.top_social{
	/*float: right;*/
	margin: 0px;
}
.stream ul li:first-child{
	background: red;
}

.top_ad{
	display: grid;
	width: 1145px;
	grid-template-columns: 1fr;
	margin: 0 auto;
	padding: 40px 0 40px 0;
}
.top_ad img{
	margin: inherit;
	padding: 10px 0 10px 0;
}

.alt_container{
	width: 1145px;
	margin: 0 auto;
	background: #0000;
	padding: 15px 15px 15px 15px;
}
.main_section{
	display:grid;
	width: 1145px;
	margin: 0 auto;
	grid-template-columns: 617px 1fr;
}
.left_bar img {
    /*width: 100%;*/
    height: auto;
}

.right_bar{
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 0 auto;
	grid-gap: 16px;
}
.right_bar img {
    width: 526px !important;
}
.top {
	margin: 0 auto;
	width: 100%;
	padding: 0px 20px 5px 0px;
}
.bottom{
	margin: 0 auto;
	width: 100%;
	padding: 0px 50px 10px 0px;
}
.top .bottom img{
	width: 100%;
}

.block_title {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Oswald;
    font-size: 16px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bold;
    width: 15%;
    float: left;
    text-transform: uppercase;
}
.entry_title h3{
	font-family: Oswald;
	font-size: 16px;
	color: #282A2A;
	line-height: 125%;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: lighter;
	top: 11px;
	position: relative;
	left: 10px;
}
/*Middle Content CSS*/
.middle_content{
	display:grid;
	width: 1145px;
	margin: 0 auto;
	grid-template-columns: 2fr 1fr;
	grid-gap: 5px;
}
.left_content{

}
.right_content{

}
.middle_content h3{
	border-color: #E8E8E8;
	border: solid #df2028 4px;
	border-bottom-width: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	font-family: Oswald;
	text-align: left;
	color: #282A2A;
    padding: 5px;
    border-top-color: #e1e1e1;
    border-right-color: #e1e1e1;
    border-bottom-color: #e1e1e1;
    text-transform: uppercase;
}
.podcasts{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
}
.podcasts video{
	width: 100%;
	height: auto;
}
.podcasts div:first-child{
	grid-column: 1 / 5;
	grid-row: 1 / 3;
}

.first_bottom{
	display: grid;
	grid-template-columns: 1fr;
}
.news_list{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 2fr;
	grid-gap: 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid #df2028;
}
.news_list img{
	width: 100%;
	height: auto;
}
.news_list h4{
	font-family: Oswald;
	font-weight: normal;
	margin-top: 0px;
	font-size: 21px;
	margin-bottom: 10px;
}
.news_list time{
	color: #A5A9A9;
	font-size: 16px;
	font-family: Open Sans;
}
.news_list p{
	margin-bottom: 0px;
	color: #616565;
	line-height: 150%;
	font-size: 16px;
	font-family: "Segoe UI",Roboto;
}
.ad_bottom_first {
    text-align: center;
    margin: 20px;
}
.ad_bottom_second{
	text-align: center;
    margin: 20px;
}
.schedule{
	width: 100%;
	position: relative;
}
.schedule img{
	width: 100%;
	height: auto;
}
.schedule ul{
	padding-left: 0px;
}
.schedule ul li{
	list-style: none;
	font: bold 15px Arial;
	word-spacing: 2px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #006496;
	padding-bottom: 5px;
}
.presenter_details{
	position: absolute;
	bottom: 126px;
	background: red;
	width: 100%;
	height: 40%;
}
.presenter_details div{
	padding: 70px;
	font-family: Oswald;
	font-weight: normal;
	font-size: 28px;
	color: #fff;
	background: url(../img/mic.png) 0% 35% no-repeat;
}
.presenter_details span{
	/*background: url(../img/mic.png) 50% 50% no-repeat;*/
}
.ad_top_side{
	text-align: center;
}
.right_middle ul{
	padding-left: 0px;
}
.right_middle ul li{
	list-style: none;
	margin-bottom: 20px;
	font-family: Oswald;
	font-weight: normal;
	word-wrap: break-word;
}
.right_middle span{
	font-family: Oswald;
	font-weight: normal;
	background: #000;
    color: #fff;
    margin-right: 10px;
    padding: 5px;
}
/*End Middle Content CSS*/



























